@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(6, 0, 5);
    /* background-image: url(/images/girl\ with\ books.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}


.parent {
    width: 100%;
    min-height: 100vh;
    /* background-color: rgb(22, 1, 16); */
    position: relative;
    /* background-image: url(/images/girl\ with\ books.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* background-position: center; */


}



header {

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3.5em;
    background-color: rgb(22, 1, 16);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}

@keyframes example {
    from {
        color: rgb(255, 246, 208);
        letter-spacing: 0px;

    }

    to {
        color: #ff006a;
        letter-spacing: 2px;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
}

header h1 {
    color: rgb(255, 246, 208);
    padding-left: 20px;
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Luckiest Guy', cursive;
    margin-left: 20px;
    animation-name: example;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;

}

/* header h1:hover {} */

nav {
    padding-right: 40px;
}

.firul,.fir,.fir a{
    display: inline-block;
    position: relative;
    color: rgba(255, 255, 255, 0.518);
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    padding: 0px 10px;
    margin: 0px 10px;
    text-transform: capitalize;
    transition: .7s ease;
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -ms-transition: .7s ease;
    -o-transition: .7s ease;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#cat ul li{
    display: block;
    list-style: none;
}

nav a:hover {
    color: #ff4c96;
    transform: scale(1.1);
    border: 2px #ff2e85 solid;
    border-radius: 20px;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

